body{   
    margin-top: 6%;
    padding-bottom: 25%;
}

.view{
    margin-left: 40%;
}

.links{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
}

#hotel-link{
    color: black;
    text-decoration: none;
}

#list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
} 

.hotel-list{
    width: 40%;
    margin: 2%;
    background-color: rgb(132,136,139);
}

.hotel-img{
    height: 200px;
    width: 250px;
}

#map-view{
    display: none;
}

